* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(101, 101, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 60%;
    width: 35%;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.screen {
    height: 30%;
    width: 100%;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.result {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    font-size: 3rem;
    word-break: break-all;
    direction: rtl;
    text-align: right;
}

.keyboard {
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: grey;
}

.wrapper {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.wrapper:hover {
    background-color: rgb(205, 205, 205);
    cursor: pointer;
}

.addition {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.outcome {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    border-bottom-right-radius: 5px;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 5px;
}