* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Open Sans", Arial,
}

aside {
    position: fixed;
    height: 100%;
    width: 300px;
    min-width: 290px;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
}

aside h2 {
    padding: 10px 0px;
    font-size: 1.8em;
    font-weight: thin;
    text-align: center;
}

aside ul {
    width: 100%;
    list-style: none;
}

aside li {
    border-top: 1px solid;
    padding: 10px 30px;
}

aside a {
    color: black;
    text-decoration: none;
}

/*content*/
.content {
    position: absolute;
    top: 20px;
    margin-left: 330px;
    padding-bottom: 110px;
}

section h2 {
    margin: 20px 0;
    font-weight: thin;
    font-size: 1.8em;
}

section h3 {
    margin: 20px 0;
    margin-left: 15px;
}

section p {
    font-size: 0.96em;
    margin-left: 15px;
    margin-right: 45px;
}

pre {
    border-radius: 5px;
    line-height: 2;
    text-align: left;
    padding: 15px;
    margin: 25px;
    margin-right: 45px;
    background-color: #f7f7f7;
}

section li {
    margin: 15px 0px 0px 70px;
}

section table {
    margin: 15px;
}